<ui-view flex>
    <md-card flex>
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>{{self.title}}</span>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column>#</th>
                    <th md-column>Title</th>
                    <th md-column>Description</th>
                    <th md-column>Status</th>
                    <th md-column>Max students</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="course in self.courses">
                    <td md-cell>{{course.id}}</td>
                    <td md-cell>{{course.title}}</td>
                    <td md-cell>{{course.description | strLengthLimit : 70}}</td>
                    <td md-cell>{{course.status}}</td>
                    <td md-cell>{{course.maxStudents}}</td>
                    <td md-cell>
                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                                <md-icon md-menu-origin>
                                    <i class="material-icons">more_vert</i>
                                </md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="self.showStudents(course)">
                                        <md-icon md-menu-origin>
                                            <i class="material-icons">face</i>
                                        </md-icon>
                                        Students
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="self.showLessons(course)">
                                        <md-icon md-menu-origin>
                                            <i class="material-icons">event_note</i>
                                        </md-icon>
                                        Lessons
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="self.showFeedbacks(course)">
                                        <md-icon md-menu-origin>
                                            <i class="material-icons">message</i>
                                        </md-icon>
                                        Feedbacks
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="self.editCourse(course)">
                                        <md-icon md-menu-origin>
                                            <i class="material-icons">mode_edit</i>
                                        </md-icon>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="self.deleteCourse(course)">
                                        <md-icon md-menu-origin>
                                            <i class="material-icons">delete</i>
                                        </md-icon>
                                        Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
    <md-button class="md-fab" ng-click="self.addCourse()">
        <i class="material-icons">add</i>
    </md-button>
</ui-view>