<div class="container" ng-controller="CoursesListController as self">
    <div class="col-xs-12">
        <div class="panel panel-default" style="margin-top: 30px;">
            <div class="panel-heading">
                <span style="line-height: 34px;">Courses</span>
                <button type="button" class="btn btn-default" data-toggle="modal" ng-click="self.addEntity()" style="float: right;">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Max students</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="course in self.entities">
                        <td class="col-xs-1">{{course.id}}</td>
                        <td class="col-xs-2">{{course.title}}</td>
                        <td class="col-xs-4">{{course.description}}</td>
                        <td class="col-xs-1">{{course.status}}</td>
                        <td class="col-xs-2">{{course.maxStudents}}</td>
                        <td class="col-xs-2">
                            <button class="btn btn-xs btn-info" ng-click="self.editEntity(user)">Edit</button>
                            <button class="btn btn-xs btn-danger" ng-click="self.deleteEntity(user)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>