<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="self.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-if="self.updateMode">Update Person</h4>
            <h4 class="modal-title" ng-if="!self.updateMode">Create Person</h4>
        </div>
        <div class="modal-body">
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Title</span>
                <input type="text" class="form-control" ng-model="self.entity.title">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Description</span>
                <input type="text" class="form-control" ng-model="self.entity.description">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Teacher</span>
                <ui-select tagging ng-model="self.entity.teacher">
                    <ui-select-match placeholder="Select teacher...">
                        <span>{{$select.selected.name}} {{$select.selected.surname}} ({{$select.selected.email}})</span>
                    </ui-select-match>
                    <ui-select-choices repeat="teacher in self.parentController.teachers | propertyFilter: { name: $select.search, surname: $select.search, email: $select.search }">
                        <div>
                            <span ng-bind-html="teacher.name | highlight: $select.search"></span>
                            <span ng-bind-html="teacher.surname | highlight: $select.search"></span>
                        </div>
                        <small>
                            <span>email: <span ng-bind-html="teacher.email | highlight: $select.search"></span></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Status</span>
                <ui-select tagging ng-model="self.entity.status">
                    <ui-select-match placeholder="Select status">
                        <span ng-bind="$select.selected"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="status in self.parentController.statuses | filter: $select.search">
                        <span ng-bind-html="status | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Max students</span>
                <input type="text" class="form-control" ng-model="self.entity.maxStudents">
            </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="self.saveEntity()">Save</button>
            <button class="btn btn-default" type="button" ng-click="self.cancel()">Cancel</button>
        </div>
    </div>
</div>