<md-card flex>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>{{self.title}}</span>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column>#</th>
                <th md-column>Student</th>
                <th md-column>Mark</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="solution in self.solutions">
                <td md-cell>{{solution.id}}</td>
                <td md-cell>{{solution.student.name}} {{solution.student.surname}}</td>
                <td md-cell>{{solution.mark.score || 'N/A'}}</td>
                <td md-cell style="width: 120px;">
                    <div ng-if="self.teacherId">
                        <md-button class="md-icon-button" ng-click="self.showSolution(solution)">
                            <i class="material-icons" style="color: rgba(0, 0, 0, 0.54);">info_outline</i>
                        </md-button>
                    </div>

                    <div ng-if="!self.teacherId">
                        <md-button class="md-icon-button" ng-click="self.editSolution(solution)">
                            <i class="material-icons" style="color: rgba(0, 0, 0, 0.54);">mode_edit</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="self.deleteSolution(solution)">
                            <i class="material-icons" style="color: rgba(0, 0, 0, 0.54);">delete</i>
                        </md-button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>
<md-button class="md-fab" ng-click="self.addSolution()">
    <i class="material-icons">add</i>
</md-button>
