 <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">
     <md-content flex>
         <md-list>
             <md-list-item href="#!/crud/users">Users</md-list-item>
             <md-divider></md-divider>
             <md-list-item href="#!/crud/courses">Courses</md-list-item>
             <md-divider></md-divider>
             <md-list-item href="#!/crud/lessons">Lessons</md-list-item>
             <md-divider></md-divider>
         </md-list>
     </md-content>
 </md-sidenav>
 <md-content layout="row" layout-align="center start" layout-padding ui-view flex>
     <md-card flex="95">
         <md-card-title>
             <md-card-title-text>
                 <span class="md-display-1">Welcome to the CRUD</span>
             </md-card-title-text>
         </md-card-title>
     </md-card>
 </md-content>