<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="self.updateMode">Update Lesson</h2>
                <h2 ng-if="!self.updateMode">Create Lesson</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="self.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" layout-padding style="margin-top: 20px; width: 550px;">
            <div layout="row">
                <md-input-container flex>
                    <label>Topic</label>
                    <input ng-model="self.lesson.topic">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Start Time</label>
                    <md-datepicker md-hide-icons="calendar" md-date-filter="" ng-model="self.lesson.startTime"></md-datepicker>
                </md-input-container>
                <md-input-container flex>
                    <label>Duration</label>
                    <input ng-model="self.lesson.duration">
                </md-input-container>
            </div>
            <div layout="row">
                <label style="color: rgba(0, 0, 0, 0.38); margin-right: 20px;">Teacher</label>
                <md-block flex>
                    <md-autocomplete
                            md-search-text="self.teacherSearchText"
                            md-selected-item="self.lesson.teacher"
                            md-item-text="teacher.name + ' ' + teacher.surname + ' ('+ teacher.email +')'"
                            placeholder="Select a teacher"
                            md-min-length="0"
                            md-no-cache="true"
                            md-select-on-match="true"
                            md-items="teacher in self.teachers | propertyFilter: { searchText: self.teacherSearchText, properties: ['name', 'surname', 'email'] }">
                        <md-item-template>
                            <span md-highlight-text="self.teacherSearchText">{{teacher.name}} </span>
                            <span md-highlight-text="self.teacherSearchText">{{teacher.surname}} </span>
                            <span md-highlight-text="self.teacherSearchText">({{teacher.email}})</span>
                        </md-item-template>
                        <md-not-found>
                            No teachers matching "{{self.teacherSearchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                </md-block>
            </div>

            <div ng-if="!self.courseId">
                <md-autocomplete
                        md-search-text="self.courseSearchText"
                        md-selected-item="self.course"
                        md-item-text="course.title"
                        placeholder="Select a course"
                        md-min-length="0"
                        md-selected-item-change="self.courseSelected(course)"
                        md-no-cache="true"
                        md-select-on-match="true"
                        md-items="course in self.courses | propertyFilter: { searchText: self.courseSearchText, properties: ['title', 'status'] }"
                        md-floating-label="Course">
                    <md-item-template>
                        <span md-highlight-text="self.courseSearchText">{{course.title}} </span>
                        <span md-highlight-text="self.courseSearchText">({{course.status}})</span>
                    </md-item-template>
                    <md-not-found>
                        No course matching "{{self.courseSearchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>

            <div layout="row">
                <md-input-container flex>
                    <label>Hometask</label>
                    <input ng-model="self.lesson.hometask">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="self.saveLesson()">Save</md-button>
            <md-button ng-click="self.cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
