<ui-view flex>
    <md-card flex>
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>{{self.title}}</span>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>#</th>
                        <th md-column>Topic</th>
                        <th md-column>Teacher</th>
                        <th md-column>Start Time</th>
                        <th md-column>Duration</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="lesson in self.lessons">
                        <td md-cell>{{lesson.id}}</td>
                        <td md-cell>{{lesson.topic}}</td>
                        <td md-cell>{{lesson.teacher.name}} {{lesson.teacher.surname}}</td>
                        <td md-cell>{{lesson.startTime | date : 'MM/dd/yyyy'}}</td>
                        <td md-cell>{{lesson.duration}}</td>
                        <td md-cell style="width: 180px;">
                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                                    <md-icon md-menu-origin>
                                        <i class="material-icons">apps</i>
                                    </md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="self.showSolutions(lesson)">
                                            <md-icon md-menu-origin>
                                                <i class="material-icons">event_note</i>
                                            </md-icon>
                                            Show Solutions
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>

                            <div ng-if="!self.teacherId">
                                <md-button class="md-icon-button" ng-click="self.editLesson(lesson)">
                                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.54);">mode_edit</i>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="self.deleteLesson(lesson)">
                                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.54);">delete</i>
                                </md-button>
                            </div>

                            <div ng-if="self.teacherId">
                                <md-button class="md-icon-button" ng-click="self.showLesson(lesson)">
                                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.54);">info_outline</i>
                                </md-button>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
    <div ng-if="!self.teacherId">
        <md-button class="md-fab" ng-click="self.addLesson()">
            <i class="material-icons">add</i>
        </md-button>
    </div>
</ui-view>