.md-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.md-fab i {
    position: absolute;
    top: 17px;
    left: 16.5px;
}

md-sidenav {
    width: 250px;
}

md-nav-bar div {
    display: flex;
}

md-nav-bar .md-nav-bar {
    border-color: transparent;
}

.md-button.sign-out-button {
    color: rgb(197, 202, 233);
}

.md-button.sign-out-button:hover {
    background-color: transparent;
}