<div class="container" ng-controller="UsersListController as self">
    <div class="col-xs-12">
        <div class="panel panel-default" style="margin-top: 30px;">
            <div class="panel-heading">
                <span style="line-height: 34px;">Users</span>
                <button type="button" class="btn btn-default" data-toggle="modal" ng-click="self.addEntity()" style="float: right;">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <th>#</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Gender</th>
                    <th>Role</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in self.entities">
                        <td class="col-xs-1">{{user.id}}</td>
                        <td class="col-xs-3">{{user.email}}</td>
                        <td class="col-xs-2">{{user.name}}</td>
                        <td class="col-xs-2">{{user.surname}}</td>
                        <td class="col-xs-1">{{user.gender}}</td>
                        <td class="col-xs-1">{{user.role}}</td>
                        <td class="col-xs-2">
                            <button class="btn btn-xs btn-info" ng-click="self.editEntity(user)">Edit</button>
                            <button class="btn btn-xs btn-danger" ng-click="self.deleteEntity(user)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>